/* Importar fuentes (Noto Sans, Fira Code) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

/* El cuerpo, en otras palabras casi todo */
body {
    background-color: #181a1b;
    color: #FFFFFF;
    font-family: 'Noto Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
}

/* Los links */
a {
    color:aqua;
}

/* Para cuando se quiera monospace */
.mono {
    font-family: 'Fira Code', 'Cascadia Code', 'Consolas', monospace;
}

/* El contenedor de flexbox */
.flex-container {
    display: flex;
    justify-content: space-evenly;
}

/* Los elementos gifs (pa que no se salgan de control con el flexbox) */
.gif {
    max-height: 270px;
}

/* Para cuando se ocupe wrap */
.flex-wrap {
    flex-wrap: wrap;
}

/* Los íconos */
#icon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* El navbar horizontal de arriba */
#topbar1 {
    height: 15%;
}

